html, body
{
    background-color: rgb(25, 25, 25);
}

.contentWrapper
{
    width: 96%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

    background-color: rgb(25, 25, 25);
    padding-bottom: 30px;
    border-radius: 50px 50px 50px 50px;
    border-top: 6px solid rgb(49, 49, 49);
    border-bottom: 6px solid rgb(49, 49, 49);
    border-left: 1px solid rgb(49, 49, 49);
    border-right: 1px solid rgb(49, 49, 49);

    -webkit-box-shadow: 0px 0px 20px 3px rgba(116,145,223,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(116,145,223,1);
    box-shadow: 0px 0px 20px 3px rgba(116,145,223,1);
}

.labels
{
    color: rgb(116, 146, 223);
}

header
{
    margin-bottom: 30px;
    text-align: center;
}

header h2
{    
    width: 250px;
    display: block;
    margin: 20px auto 20px auto;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    background-color: rgb(30, 30, 30);
}

.controlRow
{    
    width: 50%;
    margin: auto;
}

.controlGroup
{
    width: 100%;
    margin: auto;
}

.controlGroup *
{
    display: block;
    margin: auto;
}

.controlGroup span
{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    border-bottom: 2px solid;
    width: 204px;
}

.txtInputs
{
    font-size: 16px;
}

.addEdit
{
    width: 100%;
}

.cusTable
{
    margin-top: 20px;
    color: rgba(116,145,223,1);
}

table
{
    /*width: 87.7%;
    display: block;*/
    margin: auto;
}

.cusTable tr th
{
    text-align:center;
}

.btnEdit
{
    margin-left: 10px;
    margin-right: 10px;
}

.confirmCancel 
{
    margin-top: 30px;
}

.confirmCancel input
{
    width: 100%;
    margin-top: 10px;
}